finetuned_model_v*
/Resources
*.tar*

#Semaine 1

SkyrimScript.txt
/Semaine\ 1/finetuned_model/
Finetune\ Script.txt 

#Semaine 6

batched_data.csv
/Semaine\ 6/Batches*

#Semaine 8

/Semaine\ 8/AIDungeon-ca098ca7dab480d24e47954c8873b03ba1091ffc/
*/Batches*/